@media screen and (max-width:1200px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:600px;
        width: 1150px;
        
    }
    
}
@media screen and (max-width:1150px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:600px;
        width: 1100px;
        
    }
    
}
@media screen and (max-width:1100px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:600px;
        width: 1050px;
        
    }
    
}
@media screen and (max-width:1050px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:600px;
        width: 1000px;
        
    }
    
}
@media screen and (max-width:1000px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:600px;
        width: 950px;
        
        
    }
    
}
@media screen and (max-width:950px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:600px;
        width: 900px;
        
    }
    
}
@media screen and (max-width:900px) {
    .slider-frame{
        
        margin: auto;
        height:600px;
        width: 850px;
        
        
    }
    
    
}
@media screen and (max-width:850px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:600px;
        width: 800px;
        
    }
    
}
@media screen and (max-width:800px) {
    .slider-frame{
        
        margin: auto;
        height:600px;
        width: 700px;
        
        
    }
    
    
}
@media screen and (max-width:750px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:600px;
        width: 700px;
        
    }
    
}
@media screen and (max-width:700px) {
    .slider-frame{
        
        margin: auto;
        height:600px;
        width: 650px;
        
        
    }
    
    
}







@media screen and (max-width:650px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:600px;
        width: 600px;
        
    }
    
}
@media screen and (max-width:600px) {
    .slider-frame{
        
        margin: auto;
        height:550px;
        width: 550px;
        
        
    }
    
    
}
@media screen and (max-width:550px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:500px;
        width: 500px;
        
    }
    
}
@media screen and (max-width:500px) {
    .slider-frame{
        
        margin: auto;
        height:450px;
        width: 450px;
        
        
    }
    
    
}
@media screen and (max-width:450px) {
    .slider-frame{
        background-color:gold;
        background: yellow;
        margin: auto;
        height:400px;
        width: 400px;
        
    }
    
}
@media screen and (max-width:400px) {
    .slider-frame{
        
        margin: auto;
        height:350px;
        width: 350px;
        
        
    }
    
    
}
